.ace_editor{
	margin:0px;
	height:500px;
	border: 2px groove #ff6f2c;
}

#editor{
	position: relative;
	border-radius: 15px;
	height: 70%;
	margin-bottom: 20px;
	box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.61);
}

.ed1{
	width: 100% !important;
}

.ed2{
	width: 73% !important;
}

/* Change on command */


#editorinf{
	width: 80%;
}


#wait{
	position: absolute;
	margin-left:80px;
	margin-top:8px;
	display:inline-block
}

#stdout1{
	margin:0;
	margin-top:10px
}

#stdout{
	white-space:pre-wrap;
	margin:0
}

#stderr{
	margin:0;
	display:block
}

#exec_time{
	margin:0;
	margin-top:10px;
	display:block
}

#exit_code{
	margin:0;
	margin-top:10px;
	display:block
}

#select_language{
	margin:20px;
	margin-bottom: 0px;
	display:inline-block;
	font-weight:700;
	user-select:none;
	padding:.5em 2em;
	outline:0;
	border:2px outset #ff6f2c;
	border-radius:10px;
	border-bottom: none;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	transition:.2s;
	background: linear-gradient(45deg, rgba(115,17,235,1) 0%, rgba(253,100,29,1) 19%, rgba(252,176,69,1) 100%);
}
#select_language:hover{
	background: linear-gradient(45deg, rgba(57,0,128,1) 0%, rgba(222,76,8,1) 25%, rgba(199,120,8,1) 100%);
	border:2px inset #ff6f2c;
	border-bottom: none;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
